.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px; }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

img {
  border-radius: 5px 5px 0 0; }

.container {
  padding: 2px 16px; }

.cards {
  cursor: pointer; }

#img {
  width: 33%; }

#mode, #selectedMode {
  color: red; }

#cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: -webkit-center; }

#answer {
  width: 80%;
  margin: auto;
  border: solid;
  background: black;
  color: white; }

#status {
  height: 50px;
  font-size: 40px; }

@media (max-width: 1000px) {
  #cards-container {
    font-size: x-small; } }

@media (max-width: 800px) {
  #cards-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  #answer {
    font-size: large; }
  #status {
    height: 20px; } }
