.section-article { background-image: url(https://raw.githubusercontent.com/juandata/medios/master/madera.jpg);
}
h1 { font-family: 'Anton', sans-serif;}
h3 { font-family: 'Sedgwick Ave Display', cursive;}
p {font-family: 'Fjalla One', sans-serif;}
a { text-decoration: none;
    color: wheat;
    font-weight: 100;}
.slider { font-family: 'Fjalla One', sans-serif;}
#arriba, #strict { transition: 1s;}
.circle { width: 500px; height: 500px;
  border-radius: 50%;
display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #333; margin: auto;
}
.wraper { display: flex;  justify-content: space-evenly; align-items: center; margin-top: 7%; pointer-events: none;}
.texto { margin: auto;}
#digital {
    color: #ff000080; margin: auto;}
section { display: flex;}
.centro { position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid #333 10px;
    background-color: #a29a9a;}
.verde {
  width: 100px;
	height: 100px;
	background: #0080007d;
	border-top-left-radius: 100%;
  cursor: pointer;
 }
.rojo {
  width: 100px;
	height: 100px;
	background: #ff000080;
	border-top-right-radius: 100%;
  cursor: pointer;
 }
.amarillo {
  width: 100px;
	height: 100px;
	background: #ffff007a;
	border-bottom-right-radius: 100%;
  cursor: pointer;
 }
.azul {
  width: 100px;
	height: 100px;
	background: #0000ff80;
	border-bottom-left-radius: 100%;
  cursor: pointer;
 }
.borde {
  position: relative;
    width: 200px;
    height: 200px;
    border: 18px solid #333;
  pointer-events: none;
}
.arriba {
  width: 90%;
    height: 45%;
    background-color: #333;
    position: relative;
    margin: auto;
    border-bottom-radius: 13%;
    border-top: 50%;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    top: 5%;
}
.simon {
  position: absolute; left: 20%;
}
.autor { top: 40%; left: 15%}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  left: 37%; top: 1em;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "Off";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;

}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
   content: "On";
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.button {
  width: 30px;
  height: 30px;
  font-size: inherit;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: solid;
  border-radius: 50%;

}
.button:hover {background-color: #3e8e41}
.display {
  border-radius: 15%;
    width: 50px;
    background-image: url(https://raw.githubusercontent.com/juandata/medios/master/display.jpg);
    background-size: cover;}

@media (max-width: 560px) {
  .circle {width: 350px; height: 350px;} .centro {width: 125px; height: 125px;} .borde {width: 140px; height: 140px; border: 8px solid #333; }
  .simon { font-size: inherit;} .autor{ font-size: x-small;}


.switch { width: 20px; height: 11px; top: auto; left: 41%;}
.slider:before {
height: 9px; width: 9px; left: 1px; bottom: 1px; content: "";
}
input:checked + .slider:before {
-webkit-transform: translateX(9px);
  -ms-transform: translateX(9px);
  transform: translateX(9px);
}
  input:checked + .slider:before { content: "";}
  .button {
  width: 15px;
    height: 15px;  }
  .texto { font-size: xx-small;}
  #digital {font-size: smaller;}
  .display { width: 30px;
    height: 21px;
    font-size: x-large;}
}
